* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}
@media(max-width: 768px){
body header nav ul{
  display: none;
}
body #nav-toggle {
  margin-top: 5px;
}
body header #nav-toggle {
  display: block;
}
}
header {
  width: 100%;
  height: 80px;
  background-color: #43b700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
header .logo img {
  margin-top: -10px;
  width: 30px;
}
header .logo:hover  a{
  color: #dadada;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  transition: .3s ease;
}
header nav ul li a {
  font-weight: 600;
  padding: 2px 10px;
}
#nav-toggle {
  position: relative;
  text-align: center;
  display: none;
  float: right;
  margin-top: 25px;
  width: 25px;
  height: 25px;
}
#nav-toggle #toggle-bar {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
#nav-toggle .bar {
  position: absolute;
  top: 3px;
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
}
#nav-toggle .bar::before,
#nav-toggle .bar::after {
  position: absolute;
  content: "";
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
}
#header.active #nav-toggle .bar,
#header.active #nav-toggle .bar::before,
#header.active #nav-toggle .bar::after {
  background-color: #000000;
}
#nav-toggle .bar::before {
  top: 6px;
}
#nav-toggle .bar::after {
  top: 12px;
}