* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}
img {
  width: 100%;
}

@media (max-width: 768px) {
  body header nav ul {
    flex-direction: column;
    margin-top: 79px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 260px;
    transform: scaleY(0);
    transform-origin: top;
    background-color: #989898;
    z-index: 999;
    transition: 0.3s ease;
  }
  body header.active nav ul {
    background-color: #ffffff;
  }
  body header nav ul li {
    margin: 10px 0px;
  }
  body nav #top-menu.active {
    transform: scaleY(1);
  }
  body #nav-toggle {
    margin-top: 5px;
  }
  body header #nav-toggle {
    display: block;
  }
}
header {
  width: 100%;
  height: 80px;
  background-color: #989898;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease;
  z-index: 999999999;
}
#header.active {
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #00000045;
}
#header.active .logo a,
#header.active nav ul li a {
  color: #000000;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
header .logo img {
  margin-top: -10px;
  width: 30px;
}
header .logo:hover a {
  color: #dadada;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul li {
  margin: 0px 5px;
}
header nav ul li a {
  font-weight: 600;
  padding: 2px 10px;
  transition: 0.3s ease;
}
header nav ul li a:hover {
  color: #dadada;
}
#nav-toggle {
  position: relative;
  text-align: center;
  display: none;
  float: right;
  margin-top: 25px;
  width: 25px;
  height: 25px;
}
#nav-toggle #toggle-bar {
  position: absolute;
  width: 22px;
  height: 22px;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
#nav-toggle .bar {
  position: absolute;
  top: 3px;
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
}
#nav-toggle .bar::before,
#nav-toggle .bar::after {
  position: absolute;
  content: "";
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
}
#header.active #nav-toggle .bar,
#header.active #nav-toggle .bar::before,
#header.active #nav-toggle .bar::after {
  background-color: #000000;
}
#nav-toggle .bar::before {
  top: 6px;
}
#nav-toggle .bar::after {
  top: 12px;
}
.banner-top img {
  width: 100%;
}

.banner-top {
  background-color: #989898;
  min-height: 700px;
  background-image: url(../images/banner-top-bg.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.055, 0.675, 0.19)
    both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.top-text {
  color: #ffffff;
  z-index: -1;
}

.about-section {
  padding: 50px 0px;
  min-height: 500px;
  overflow-x: hidden;
}
.project-section {
  padding: 0px 0px;
  min-height: 500px;
  overflow-x: hidden;
}
